body {
  margin: 0;
  padding: 2rem;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  margin-top: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.canvas-container {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 1px 1px 20px 0px #00000012;
}

.col:nth-child(odd) .canvas-container {
  margin-right: 1rem;
}

.col:nth-child(even) .canvas-container {
  margin-left: 1rem;
}

canvas {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .col {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }
}
